<link rel="stylesheet" href="libs/blueimp-gallery/css/blueimp-gallery.min.css">
<!-- <link rel="stylesheet" href="libs/blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min.css"> -->

<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls blueimp-gallery-playing">

     <!-- The container for the modal slides -->
    <div class="slides"></div>


    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>


    <!-- <div class="modal fade">
        <div class="modal-dialog modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div id="links">
    <a href="/images/bashedcar1.jpg" title="Before">
    </a>

    <a href="/images/carfinished1.jpg" title="After">
    </a>

    <a href="/images/bashedcar2.jpg" title="before">
    </a>

    <a href="/images/carfinished2.jpg" title="after">
    </a>
</div>


<script src="libs/blueimp-gallery/js/blueimp-gallery.min.js"></script>
<!-- <script src="libs/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.js"></script> -->

<script>
    $(document).ready(function () {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event, container: '#blueimp-gallery-carousel', carousel: true},
            links = document.getElementById('links').getElementsByTagName('a');

        var linksToAdd = [];
        for (var i = 0, j = links.length; i<j; i++)
        {
            linksToAdd.push({ title : links[i].title, href : links[i].href });
        }

        blueimp.Gallery(linksToAdd, options);
    });

    // document.getElementById('links').onclick = function (event) {
    //     event = event || window.event;
    //     var target = event.target || event.srcElement,
    //         link = target.src ? target.parentNode : target,
    //         options = {index: link, event: event},
    //         links = this.getElementsByTagName('a');
    //     blueimp.Gallery(links, options);
    // };

    
</script>