<link rel="stylesheet" href="libs/blueimp-gallery/css/blueimp-gallery.min.css">

<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls blueimp-gallery-playing">

     <!-- The container for the modal slides -->
    <div class="slides"></div>


    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links">
    <a href="/images/bashedcar2.jpg" title="BMW X5 nearside front scuff">
    </a>

    <a href="/images/carfinished2.jpg" title="BMW X5 after the repair">
    </a>

    <a href="/images/bashedcar1.jpg" title="BMW 3 series nearside rear bumper dent and scratches">
    </a>

    <a href="/images/carfinished1.jpg" title="BMW 3 series after the repair">
    </a>
    
    <a href="/images/Black-Car-in-the-Autumn-Forest-for-site.jpg" title="BMW 3 series after the repair">
    </a>
</div>


<script src="libs/blueimp-gallery/js/blueimp-gallery.min.js"></script>

<script>
    $(document).ready(function () {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event, container: '#blueimp-gallery-carousel', carousel: true, stretchImages: true},
            links = document.getElementById('links').getElementsByTagName('a');

        var linksToAdd = [];
        for (var i = 0, j = links.length; i<j; i++)
        {
            linksToAdd.push({ title : links[i].title, href : links[i].href });
        }

        blueimp.Gallery(linksToAdd, options);
    });
</script>
