<link href="/css/home.css" rel="stylesheet"/>
<div class="container-fluid panel">
    <p>We specialise in bodywork repairs of the highest quality which are cost-effective and convenient.</p>
    
    <br />
    <div class="row">
        <div class="col-md-5">
            <div class="custom-image-padding bg-danger">
                <img src="/images/bashedcar1.jpg" alt="before"/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="custom-horizontal-centre center-block">
                <span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="custom-image-padding bg-success">
                <img src="/images/car1.jpg" alt="after" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-5">
            <div class="custom-image-padding bg-danger">
                <img src="/images/bashedcar2.jpg" alt="before"/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="custom-horizontal-centre center-block">
                <span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="custom-image-padding bg-success">
                <img src="/images/car2.jpg" alt="after" />
            </div>
        </div>
    </div>
</div>