<link href="/css/home.css" rel="stylesheet"/>
<div class="container-fluid">
	<a href="home">
	    <img class="logo img-responsive center-block" alt="{{title}}" title="{{title}}" src="/images/autoallsmart50.png">
	</a>
</div>
<div class="container-fluid panel">
    <br />
    <p class="text-center">We specialise in bodywork repairs of the highest quality which are cost-effective and convenient.</p>
    
    <br />
</div>