          
html { 
  background: url(../images/Black-Car-in-the-Autumn-Forest-for-site.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Black-Car-in-the-Autumn-Forest-for-site.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Black-Car-in-the-Autumn-Forest-for-site.jpg', sizingMethod='scale')";
}