.custom-image-padding {
    padding: 20px;
}

.custom-horizontal-centre
{
    margin: 2em 0 1em 38%;
}

.form-width {
  margin: 0 0 0 20%;
}

/* custom button */

.btn-custom {
      color: #000;
      font-weight: bolder;
      background-color: #e1c92f;
      border-color: #EEAA26;
      background-image: -webkit-linear-gradient(#e1c92f, #e1c92f 60%, #EEAA26);
   	  background-image: -o-linear-gradient(#e1c92f, #e1c92f 60%, #EEAA26);
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
   color: #000;
   background-color: #EEAA26;
   border-color: #e1c92f;
}

.btn-custom:active,
.btn-custom:hover,
.btn-custom:focus {
   background-image: none;
}

 .btn-custom.disabled {
   background-color: #e1c92f;
   border-color: #e1c92f;
}

 .btn-custom .badge {
   color: #e1c92f;
   background-color: #ffffff;

   border-bottom: 1px solid #EEAA26;
}