img {
    padding: 0;
    margin: 0;
    display: block;
}

/*.customised-header .navbar-brand {
    height: 55px !important;
    padding: 2px 2px !important;
    margin: 0 0 0 10px;
}*/

.customised-header .invite {
    font-size: 11px;
    margin: 9px 0;
}

    .customised-header a, .customised-header a:active, .customised-header a:focus {
        color: #777 !important;
        text-decoration: none;
    }

    .customised-header a:hover {
        text-decoration: none;
        color: #C6CA52 !important; 
    }

.twitter-link img {
    padding: 2px 0;
}

    .twitter-link div {
        font-size: 11px;
        color: #777;
    }

    .facebook-link img {
        
    }

.navbar-default {
    background-color: #000 !important;
}

.navbar-default .navbar-nav > li > a:hover
{
    color: #C6CA52 !important;
}

/* Animation for menu item underline*/

.underline-animated {
    
}

-webkit-animation: move_eye 4s linear 0s infinite alternate;
     -moz-animation: move_eye 4s linear 0s infinite alternate;
       -o-animation: move_eye 4s linear 0s infinite alternate;
          animation: move_eye 4s linear 0s infinite alternate;